{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
set -euo pipefail

sudo -v

sudo apt update
sudo apt install -y curl git zsh

if ! command -v cargo-binstall &> /dev/null; then
    export PATH="$HOME/.cargo/bin:$PATH"
    curl -L --proto '=https' --tlsv1.2 -sSf https://raw.githubusercontent.com/cargo-bins/cargo-binstall/main/install-from-binstall-release.sh | bash
fi

cargo-binstall -y mise sheldon starship

ZSH_PATH=$(which zsh)
if [ "$SHELL" != "$ZSH_PATH" ]; then
    sudo chsh -s "$ZSH_PATH" "$USER"
fi

{{ end -}}
